<section>
  <header>
    <h1>Projects</h1>
  </header>

  <div class="about">
    <p>
      <span class="highlight">This website</span> is built with <span
        class="highlight">Astro</span
      >, a new static site generator that combines the best parts of React, Vue,
      and Svelte. It's hosted on <span class="highlight">Netlify</span>
      and the source code is available on
    </p>
  </div>
</section>

<style>
  section {
    color: var(--text-color);
    width: 100%;
    opacity: 0.9;
  }

  header {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  h1 {
    font-size: 5vw;
  }

  .about {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 2rem;
  }

  .highlight {
    color: var(--saffron);
  }
</style>
