@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --light: #ece4d8;
  --dark: #312335;
  --accent-primary: #566580;
  --accent-dark: #BF3B81;
  --accent-light: #DBC865;
  --text-dark: hsl(0, 230, 0)
}
html, body, #svelte{
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--dark);
  font-family: 'Montserrat', sans-serif;
  color: var(--light);
}

