---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="postcss">
	@custom-selector :--heading h1, h2, h3, h4, h5, h6;
	:root {
		--text-color: #fff;
		--egyptian-blue: #023cadff;
		--hot-pink: #fe5dacff;
		--vivid-sky-blue: #07c8fdff;
		--saffron: #eec643ff;
		--night: #141414ff;

		--background-color: var(--night);
	}

	:--heading {
		/* color: var(--text-color); */
		font-weight: 600;
		margin: 0;
	}

	html, body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
	}
	
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--background-color);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	a {
		color: var(--hot-pink);
		transition: color 0.2s ease;
	}

	a:hover {
		color: var(--vivid-sky-blue);
	}
	
</style>
